@import "../../global.scss";
.items-card {
    display: flex;
    justify-content: center;
    width: 275px;
    height: 250px;
    border-radius: 5px;
    border: 0.25rem solid $mainColor;
    position: relative;
    &:hover {
        & .project-desc {
            opacity: 1;
        }
        & img {
            opacity: 0;
        }
    }
    & img {
        width: 100%;
        object-fit: cover;
    }
    & .project-desc {
        padding: 10px 5px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        & p {
            text-align: center;
        }
        & ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 1rem;
            & li {
                margin-right: 0.51rem;
                list-style-type: none;
            }
        }
    }
    & .proj-btn {
        margin-right: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 3px;
        letter-spacing: 2px;
        font-family: inherit;
        background-color: $mainColor;
        color: #fff;
        & a {
            text-decoration: none;
            color: #fff;
        }
    }
}