@import "../../global.scss";
.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: #8554e4;
    & .wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        & h2 {
            font-size: 2rem;
            color: #fff;
        }
        & .footer-icons {
            margin-top: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            & .icon {
                font-size: 30px;
                color: #fff;
            }
        }
    }
}