.App {
    height: 100vh;
    .sections {
        margin-top: 1rem;
        height: calc(100vh - 0px);
        position: relative;
        top: 70px;
        left: 0;
        scroll-snap-type: y mandatory;
        &>* {
            // height: calc(100vh - 90px);
            scroll-snap-align: start;
        }
    }
}