.App {
    height: 100vh;
    .sections {
        height: calc(540px - 90px);
        position: relative;
        top: 70px;
        left: 0;
        scroll-snap-type: y mandatory;
        &>* {
            height: calc(550px - 90px);
            scroll-snap-align: start;
        }
    }
}