@import "../../global.scss";
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: $mainColor;
    transition: all 2s ease;
    overflow-y: hidden;
    z-index: 999;
    @include mobile {
        height: 70px;
    }
    .wrapper {
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        & .nav-left {
            font-family: "Josefin Sans", sans-serif;
        }
        .nav-links {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            transition: all 2s ease;
            @include mobile {
                position: fixed;
                top: 70px;
                right: -150px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                height: calc(100vh - 90px);
                background-color: $mainColor;
                color: $iconColor;
                width: 150px;
            }
            & li {
                list-style-type: none;
            }
        }
        .nav-links a {
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 1.5rem;
            font-family: inherit;
            color: inherit;
            font-size: 1.25rem;
            font-weight: 500;
        }
        .icons {
            font-size: 3.75rem;
            transition: all 2s ease;
            color: rgb(173, 58, 196);
        }
        .toggle-bar {
            display: none;
            width: 30px;
            height: 25px;
            cursor: pointer;
            @include mobile {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            span {
                width: 100%;
                height: 3px;
                background-color: $iconColor;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
    }
    &.active {
        background-color: $mainColor;
        color: #fff;
        z-index: 999;
        .icons {
            color: #fff;
        }
        .nav-links {
            right: 0;
        }
        .nav-links a {
            margin-right: 1rem;
            font-family: inherit;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .toggle-bar {
            color: #fff;
            span {
                background-color: #fff;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}